header {
  height: 140px;
  background-color: $dark-purple;

  .navbar-brand {
    img {
      height: 95px;
    }
  }

  nav {
    height: 140px;
    display: flex;
      .navbar-nav {
        align-content: end;
        padding-bottom: 20px;
        gap: 60px;
        a {
          color: $lime;
          font-weight: 900;
          font-size: 20px;
          &:hover {
            color: $lime;
          }
        }
      }
    }
  }
