.text-image {
    display: block;
    padding: 50px 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}
