.article {
  h1 {
    margin-bottom: 30px;
    display: block;
  }
  .content {
    margin-bottom: 30px;
    display: block;
  }
  .date {
    margin-bottom: 30px;
    display: block;
  }
  .field--name-field-image {
    margin-bottom: 30px;
    display: block;
    img {
      width: 100%;
    }
  }
}
