<div class="card">
  <div class="image">
    {{ content.field_image_upload }}
  </div>
  <div class="content-wrapper">
    <div class="content">
      <h3>{{ content.field_title }}</h3>
      {{ content.field_text }}
      {{ content.field_link }}
    </div>
  </div>
</div>
