{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="examples">
        <div class="container">
          <h2>{{ content.field_title }}</h2>
          {{ content.field_text }}
          {{ content.field_add_example }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
